<%if @observation%>
  <%= form_for @observation, url: proposal_experiment_observations_path do |f| %>
    <% if @observation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

        <ul>
        <% @observation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :observation_text %><br>
      <%= f.text_area :observation_text %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<%end%>
