
<div class='container'>
  <div class="jumbotron">
    <h2>Observation on Experiment #<%= @observation.experiment.id%></h2>

    Observation: <%= @observation.observation_text %><br>
    Date: <%= format_date(@observation.created_at) %><br>
    Observer Name: <%= @observation.user.name %>
  </div>
</div>

<div class='container'>
  <%if @observation.comments%>
    <h3>Comments</h3>

    <%@observation.comments.each do |comment|%>
      <%=comment.comment_text%><br>
      <%=comment.user.name%><br><br>
    <%end%>
  <% end %>

  <%=render partial: "comments/form", locals: {action: proposal_experiment_observation_comments_path(@proposal, @experiment, @observation)}%>
</div>
