<h1>Observation</h1>

  <div>
    Observation: <%= @observation.observation_text %><br>
    Date: <%= format_date(@observation.created_at) %><br>
    Observer Name: <%= @observation.user.name %>
    <%if @observation.user_id == session[:user_id] %>
      <p><%= link_to "Edit",  edit_proposal_experiment_observation_path %></p>
    <%end%>
  </div>
  <div class="comment"></div>
  <%if @observation.comments%>
    <h3>Comments</h3>

    <%@observation.comments.each do |comment|%>
      <div class="comment">
        <%=comment.comment_text%><br>
        <%=comment.user.name%><br><br>
      </div>
    <%end%>
  <% end %>

  <%=render partial: "comments/form", locals: {action: proposal_experiment_observation_comments_path(@proposal, @experiment, @observation)}%>

