<div class="form-group">
<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :problem_description %><br>
    <%= f.text_field :problem_description %>
  </div>
  <div class="field">
    <%= f.label :hypothesis %><br>
    <%= f.text_field :hypothesis %>
  </div>

  <% if current_user.admin == true %>
    <div class="field">
      <%= f.label :Check_to_approve_proposal %>
      <%= f.check_box :approved %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
