<h3>Pending Proposals</h3>
      <% pending_proposals.each do |proposal| %>
      <ul class="sidebar-nav">
          <li class="sidebar-brand"> Proposal No. <%= proposal.id %></li>
          <li>Title: <%= proposal.title %></li>
          <li>Instructor: <%= proposal.user.name %></li>
          <li>Problem: <%= proposal.problem_description %></li>
          <li>Hypothesis: <%= proposal.hypothesis %></li>
          <td><%= approved_status(proposal) %></td>
          <td><%= link_to 'Show', proposal %></td>
        </ul>
      <% end %>
