<div class='container'>

<h1>Proposal #<%= @proposal.id %>: <%= @proposal.title %></h1>

  <ul class>
    <li>Instructor: <%= @proposal.user.name %></li>
    <li>Problem: <%= @proposal.problem_description %></li>
    <li>Hypothesis: <%= @proposal.hypothesis %></li>
    <li>Approval Status: <%= approved_status(@proposal) %></li>

    <% if @proposal.approved %>
      <%= link_to 'Create a New Experiment for this Proposal', new_proposal_experiment_path(@proposal) %>
      <br>

      <h3>Experiments associated with this proposal</h3>
      <% if @proposal.experiments.any? %>
        <% @proposal.experiments.each do |experiment| %>
          <%= render partial: "experiments/show", layout: false, locals: {experiment: experiment} %>
        <% end %>
      <% else %>
        <p>No experiments have been created for this proposal yet</p>
      <% end %>


    <% end %>
  </ul>

<br>

<% if current_user.id == @proposal.user.id || current_user.admin == true %>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %></li>
  <%= link_to 'Destroy', @proposal, method: :delete, data: { confirm: 'Are you sure?' } %>

  <%if @proposal.comments%>
    <h3>Comments</h3>

    <%@proposal.comments.each do |comment|%>
      <%=comment.comment_text%><br>
      <%=comment.user.name%><br><br>
    <%end%>
  <% end %>
<%=render partial: "comments/form", locals: {action: proposal_comments_path(@proposal)}%>
<% end %>
</div>
