
<h1><%= @proposal.title %></h1>

  <ul class>
    <li>Instructor: <%= @proposal.user.name %></li>
    <li>Problem: <%= @proposal.problem_description %></li>
    <li>Hypothesis: <%= @proposal.hypothesis %></li>
    <li>Approval Status: <%= approved_status(@proposal) %></li>

    <% if @proposal.approved %>
      <%= link_to 'Create an Experiment for this Proposal', new_proposal_experiment_path(@proposal) %>
    <% end %>
  </ul>

<br>

<%= link_to 'Proposals', proposals_path %>

<% if current_user.id == @proposal.user.id || current_user.admin == true %>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %></li>
  <%= link_to 'Destroy', @proposal, method: :delete, data: { confirm: 'Are you sure?' } %>
<%=render partial: "comments/form", locals: {action: proposal_comments_path(@proposal)}%>
<% end %>
